<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="text-center">
      Welcome to PubHub!
    </h1>
    <br>
    <div class="row"> 
      <h3 class="text-center text-muted">PubHub is an open science platform where registered users can create their own (public) reviews to research papers that have been published. Its purpose is intended to be similar to what is already done with citations as a means of measuring impact, but this app uses public/democratic reviews as a means of measuring validity; kind of like an arXiv.com, Stack Overflow, Academia.edu hybrid.</h3>
    </div>
    <div class="row">
      <h3 class= "text-center text-muted">
      Interested? <%= link_to "Sign up now!" %> 
      Already a member? <%= link_to "Sign in." %>
      </h3>
    </div>
  </div> 
</div>