<div class="container-fluid">
  <div class="well center">
    <h1 class="text-center">
      Welcome to PubHub!
    </h1>
    <br>
    <div class="row"> 
      <h3 class="text-center text-muted">PubHub is an open science platform where scientists can publicly review research publications uploaded by other scientists, upload their own publications for review, and follow other scientists if they find their work interesting. Its purpose is to promote scientific advancement by open sourcing the peer review system.</h3>
    </div>
    <div class="row">
      <h3 class= "text-center text-muted">
      Interested? <%= link_to "Sign up now!", register_path %> 
      Already a member? <%= link_to "Sign in.", sign_in_path %>
      </h3>
    </div>
  </div> 
</div>