@import "bootstrap-sprockets";
@import "bootstrap";


.landing{
    background: image-url("home_background.jpg") no-repeat center center fixed ;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;
    height: 100vh; 
}

.navbar{
  margin-bottom: 0;
}

.center{
  margin: 100px;
  opacity: 0.9;
}
