<ul class="well">
  <% @pubs.each do |pub| %>
    <li>
      <%= link_to pub.title, pub %>
      <p>posted by <%= link_to pub.user.full_name, "pub.user" %>. <%= link_to "PDF", fix_url(pub.url) %></p>
    </li>
  <% end %>
</ul>